footer {
    background-color: black;
    max-width: 100%;
    color: #fff;
    overflow: hidden;
    margin: auto;
    text-align: center;
    line-height: 2rem;
}

footer a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: lighter;
}

footer a:hover {
    color: #a52a2a;
}

footer i {
    font-size: 2rem;
}

footer h2 {
    font-size: 1.4rem;
}