footer {
    background-color: black;
    max-width: 100%;
    color: #fff;
    overflow: hidden;
    margin: auto;
    text-align: center;
    line-height: 2rem;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.4rem;
}

a.footer-link:link, a.footer-link:visited {
    color: #FFF;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: lighter;
}

a.footer-link:hover, a.footer-link:active {
    color: #a52a2a;
    text-decoration: none;
}

footer i {
    font-size: 2rem;
}

.footer-copyright {
    font-size: 1rem;
}