/* import fonts from fonts google */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@300;400&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    max-width: 100%;
    position: relative;
    padding: 0;
    overflow: hidden;
    z-index: 9999;
}

/* Logo and text */
.logo-txt {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.3rem;
}

.logo {
    width: 80%;
}

/* Dropdown menu */
.navbar-collapse {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-decoration: none;
    align-content: center;
}

li {
    list-style: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 60px;
}
