/* import fonts from fonts google */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@300;400&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    max-width: 100%;
    position: relative;
    padding: 0;
    overflow: hidden;
    z-index: 9999;
}

.navbar {
    margin: 0 !important;
    padding: 0 !important;
}

/* Logo and text */
.logo-txt {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.3rem;
    color: var(--secondary-color);
}

.logo-icon {
    font-size: 2rem;
}

.logo {
    width: 100%;
    background-color: #FFF;
}

/* Dropdown menu */
.navbar-collapse {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-decoration: none;
}

#bars {
    color: var(--primary-color);
    font-size: 2rem;
    transition-duration: 0.4s;
}

#bars:hover {
    color: var(--secondary-color);
}

li {
    list-style: none;
}

a.menu-mobile:link, a.menu-mobile:visited {
    color: var(--primary-color);
}

a.menu-mobile:hover, a.menu-mobile:active {
    color: var(--secondary-color);
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 60px;
}

/* Media queries */
@media (min-width: 768px) { /* Adjust this breakpoint as needed */
    .logo {
        width: auto;
        height: 20vh; /* Adjust the height as needed to crop the image */
    }
  }


@media (min-width: 992px) { /* Adjust this breakpoint as needed */
    .logo {
        width: auto;
        height: 30vh; /* Adjust the height as needed to crop the image */
    }
  }