/* import fonts from fonts google */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Raleway:wght@300&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    padding: 0 2rem;
}

/* Logo and text */
.logo-txt {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.4rem;
}

/* Vertical menu for desktop view */
.vertical-txt {
    transform: rotate(90deg);
    transform-origin: left top 0;
}

.menu {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.menu a:hover {
    text-decoration: none;
    color: #a52a2a;
}

.menu a:active {
    border-bottom: 1px solid #000;
}

.languages {
    color: #a9a9a9;
    font-size: 1.2rem;
}

.fa-code {
    color: #a52a2a;
}

.navbar {
    height: max-content;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1548;
}

.navbar .toggle_btn {
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

li {
    list-style: none;
}

/* Dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 50%;
    height: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fffafa;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 99999;
}

.dropdown_menu li {
    padding: 0.3rem;
    margin: 0.3rem;
    display: flex;
    justify-content:center;
}

.dropdown_menu.open {
    height: fit-content;
    width: 100%;
    height: 100%;
}

/* Dropdown menu for account */
.dropdown-menu {
    background-color: #fffafa;
    width: fit-content;
    height: fit-content;
    z-index: 99999;
    padding: 1% !important;
}

/* Media Queries */
@media (min-width: 992px) {
    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    .header-container {
        padding-top: 14%;
    }
}

/* Media Queries for menu */
@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        /*width: unset;*/
    }
}

@media (max-width: 768px) {
    .dropdown_menu {
        top: 4rem;
    }
}

@media (max-width: 992px) {
    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .header-container {
        padding-top: 13%;
    }

    .desktop-menu {
        display: none;
    }
}