/* import fonts from fonts google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* LINKS for Services and Projects pages */
#menu-homepage {
  padding: 2%;
}

a.section-links:link, a.section-links:visited {
  color: #FFF;
  text-decoration: none;
  font-size: 2rem;
}

a.section-links:hover, a.section-links:active {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 2rem;
}

/* SERVICES PAGE */
.services-block {
  margin-bottom: 20px;
  padding: 2%
}

.services-tab-text {
  font-size: 1.1rem;
  font-weight: bold;
}

/* PROJECTS PAGE */
.projects-block {
    background-color: #FFF;
    color: var(--secondary-color);
    padding: 1%;
    margin: 1%;
    font-size: 0.8rem;
    border-radius: 5%;
}

/* Block with one project */
.one-project {
  margin-bottom: 20px;
}

.one-project h3 {
  text-transform: uppercase;
}

.one-project a, a:active {
  color: #FFF;
  font-size: 1.4rem;
  padding: 2%;
}

.one-project a:hover {
  color: var(--primary-color);
}

.nav-item {
    font-size: 1.1rem;
}

.nav-item a {
    color: var(--primary-color);
}

.nav-item a:hover,
.nav-item a:active {
    color: var(--secondary-color);
}


/* Media Queries */
/* For large phones */
@media only screen and (min-width: 576px) {
    
}

/* For tablets */
@media only screen and (min-width: 768px) {

}

/* For desks */
@media only screen and (min-width: 992px) {
    
}