/* import fonts from fonts google */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@300;400&family=Satisfy&display=swap');

/* General styles */
* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    background-color: #a52a2a;
}

section, article {
    overflow: hidden;
    padding: 2%;
}

.separator-red {
    color: #a52a2a;
}

.btn {
    background-color: #a52a2a;
    color: #FFF;
}

.btn:hover {
    background-color: #000;
    color: #FFF;
}
/* Text styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3rem;
    color: #FFF;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
}

.title-handwritten {
    font-family: 'Satisfy', cursive !important;
    padding: 2%;
    font-weight: bolder;
}

.title-handwritten h1 {
    font-size: 3rem !important;
    color: #fff;
}

.title-handwritten h2 {
    font-size: 2rem !important;
}

/* Links styles */
a {
    color: #a52a2a;
    font-weight: bold;
}

a:hover,
a:active {
    color: #000;
    text-decoration: underline;
}

.link-white {
    color: #FFF;
    font-weight: bold;
    text-decoration: underline;
}

/* Title and picture section styles */
/* Code from the Love Running project. Attributes and values for the picture */
#title-block {
    width: 60%;
    height: 40%;
    float: right;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 3%;

    right: 5%;
    bottom: 13%;
    position: absolute;
    text-align: right;
}

#title-image {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

#title-image img {
    height: 65vh;
}

#title-section {
    max-width: 100% !important;
    padding: 0 !important;
    margin-bottom: 6%;
}

/* Skills Area */
.block-red {
    background-color: #a52a2a;
    color: #FFF;
}

.services-tab-text {
    font-size: 1.1rem;
    font-weight: bold;
}

.nav-item {
    font-size: 1.1rem;
}

.nav-item a {
    color: #000;
}

.nav-item a:hover,
.nav-item a:active {
    color: #a52a2a;
}

/* About Area */
.hobbies-list li {
    list-style-type: square !important;
}

/* Contact form */
.contact-form {
    background-color: #a52a2a;
    color: #fff;
    line-height: 2;
    overflow: hidden;
    max-width: 100%;
    padding: 4%;
}

.form-control:focus {
    border-color: #a52a2a;
    box-shadow: inset 0 1px 1px rgba(165, 42, 42, 0.075), 0 0 8px rgba(165, 42, 42, 0.6);
}

/* Media Queries */
/* For large phones */
@media only screen and (min-width: 576px) {
    
}


/* For tablets */
@media only screen and (min-width: 768px) {

}

/* For desks */
@media only screen and (min-width: 992px) {
    
}