/* import fonts from fonts google */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Raleway:wght@300&family=Satisfy&display=swap');

/* General styles */
* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

section, article {
    max-width: 100%;
    overflow: hidden;
}

body {
    max-width: 100%;
}

/* Text styles */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3rem;
    color: #FFF;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
}

.title-handwritten {
    font-family: 'Satisfy', cursive !important;
    font-size: 3rem !important;
    color: #fff;
    text-align: right;
    padding: 2%;
}

/* Links styles */
a {
    color: #a52a2a;
    font-weight: bold;
}

a:hover,
a:active {
    color: #000;
    text-decoration: underline;
}

/* Title and picture section styles */
/* Code from the Love Running project. Attributes and values for the picture */
#title-block {
    width: 60%;
    height: 40%;
    float: right;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 3%;

    right: 5%;
    bottom: 13%;
    position: absolute;
}

#title-image {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#title-image img {
    height: 65vh;
}

#title {
    margin-bottom: 6%;
}

/* Services Page */
.services-tab-text {
    font-size: 1.1rem;
    font-weight: bold;
}

.nav-item {
    font-size: 1.1rem;
}

.nav-item a {
    color: #000;
}

.nav-item a:hover,
.nav-item a:active {
    color: #a52a2a;
}

/* Contact form */
.contact-form {
    background-color: brown;
    color: #fff;
    line-height: 2;
    overflow: hidden;
    max-width: 100%;
    padding: 4%;
}

/* Media Queries */
/* For large phones */
@media only screen and (min-width: 576px) {
    
}


/* For tablets */
@media only screen and (min-width: 768px) {

}

/* For desks */
@media only screen and (min-width: 992px) {
    
}