{% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
{% endblock %}

<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 pt-4 footer-points">
        <span class="col-2">
            <a
              href="https://github.com/cecilegaudron"
              target="_blank"
              rel="noopener"
              aria-label="Visit my GitHub account"
              ><i class="fa-brands fa-github"></i
            ></a>
          </span>
          <span class="col-2">
            <a
              href="https://www.linkedin.com/in/cecilegaudron"
              target="_blank"
              rel="noopener"
              aria-label="Visit my LinkedIn account"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
          </span>
        </div>
        <div class="col-12 pt-4 footer-points">
        <ul>
          <li>
            <a href="{% url 'index' %}#contact" class="menu-mobile">CONTACT<span class="title-handwritten">me</span></a>
          </li>
          <li>
            <a href="#" class="menu-mobile small">English </a> |
            <a href="#" class="menu-mobile small">Français </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div col-12>
    <p class="footer-copyright">
      © {% now 'Y' %} - Created by <strong>CÉcile</strong>
    </p>
  </div>
</footer>
