{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}

<footer>

 
    </section>
    <!-- Copyright -->
    <div>
        © {% now 'Y' %}<br>
        Created by CÉcile <a href="https://github.com/cecilegaudron/" target="_blank" rel="noopener" aria-label="Visit my GitHub account>"><i class="fa-brands fa-github"></i></a></p><br>
        <a href="https://www.privacypolicygenerator.info/live.php?token=5wXhzvlMcnTpFj7LohuincImAdadxGA3" target="_blank" rel="noopener" aria-label="See our Privacy Policy">METTRE LES Privacy Policy</a>
    </div>
  </footer>