{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

<header>
    <!-- Logo -->
    <nav class="navbar navbar-dark sticky-top">
        <div class="container w-100">
            <div class="row d-flex align-items-center">
                <div class="col-5">
                    <a href="{% url 'index' %}">
                        <img class="logo img-fluid mx-auto" alt="CÉcile Gaudron logo"
                            src="https://res.cloudinary.com/di8utbjhc/image/upload/v1715869908/personal-website/r7sisxvd52agndkef2qn.png">
                    </a>
                </div>
                <div class="col-7 text-right">
                    <p class="logo-txt"> <span class="logo-icon">< > </span> Cécile Gaudron<br>
                        Full Stack Developer <i class="fa-solid fa-code"></i></p>
                </div>
            </div>
            <!-- Toggler/collapsibe Button -->
            <div class="col-12 ">
                <button class="navbar-toggler col-2" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <i class="fa-solid fa-bars-staggered text-dark" id="bars"></i>
                </button>
            </div>
            <!-- Navbar links in collapse menu -->
            <div class="collapse navbar-collapse text-center" id="collapsibleNavbar">
                <ul>
                    <li>
                        <a href="{% url 'index' %}" class="menu-mobile"><i class="fa-solid fa-house-chimney"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#about-section" class="menu-mobile">ABOUT</a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#contact" class="menu-mobile">CONTACT</a>
                    </li>
                    <li>
                        <a href="#" class="menu-mobile small">English </a> | <a href="#" class="menu-mobile small">Français </a>
                    </li>
                    <li>
                        <a href="#" class="menu-mobile"><i class="fa-brands fa-square-github"></i> </a> 
                    </li>
                    <li>
                        <a href="#" class="menu-mobile"><i class="fa-brands fa-linkedin"></i> </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
