{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

<header>
    <!-- Responsive navbar code from the video https://www.youtube.com/watch?v=GdrbE-s5DgQ -->
    <div class="container navbar w-100 bg-white">
        <div class="mx-auto fixed">
            <a href="{% url 'index' %}">
                <img class="img-fluid col-6 col-lg-4 mx-auto" alt="CÉcile Gaudron logo"
                    src="https://res.cloudinary.com/di8utbjhc/image/upload/v1686303474/portfolio/logo-cecile_rq1pcl.webp">
            </a>
            <p class="logo-txt">CÉcile Gaudron <i class="fa-solid fa-code"></i> Full Stack Developer</p>
        </div>
        <!-- Menu for desktop -->
        <div class="desktop-menu">
            <div class="vertical-txt menu">
                <li>
                    <a href="{% url 'index' %}">AHOY</a>
                </li>
                <li>
                    <a href="{% url 'services' %}">SERVICES</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">ABOUT</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">CONTACT</a>
                </li>
            </div>
            <div class="menu">
                <hr>
                <li>
                    <p class="languages">LANGUAGES</p>
                </li>
                <li>
                    <a href="#">EN</a>
                </li>
                <li>
                    <a href="#">FR</a>
                </li>
                <hr>
                <li>
                    <a href="#"><i class="fa-brands fa-square-github"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </div>
        </div>
        <!-- Hamburger menu icon -->
        <div class="toggle_btn">
            <i class="fa-solid fa-bars-staggered"></i>
        </div>
    </div>
    <!-- Responsive menu -->
    <div class="dropdown_menu menu">
        <li>
            <a href="{% url 'index' %}">AHOY</a>
        </li>
        <li>
            <a href="{% url 'services' %}">SERVICES</a>
        </li>
        <li>
            <a href="{% url 'about' %}">ABOUT</a>
        </li>
        <li>
            <a href="{% url 'contact' %}">CONTACT</a>
        </li>
        <hr>
        <li>
            <p class="languages">LANGUAGES</p>
        </li>
        <li>
            <a href="#">EN</a>
        </li>
        <li>
            <a href="#">FR</a>
        </li>
        <hr>
        <li>
            <a href="#"><i class="fa-brands fa-square-github"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </li>
    </div>
</header>

{% block postloadjs %}
<script>
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropDownMenu = document.querySelector('.dropdown_menu')

    toggleBtn.onclick = function () {
        dropDownMenu.classList.toggle('open')
        const isOpen = dropDownMenu.classList.contains('open')

        toggleBtnIcon.classList = isOpen ?
            'fa-solid fa-xmark' :
            'fa-solid fa-bars'
    }
</script>
{% endblock %}