{% block content %}

<!-- First section with picture and tagline -->
<section id="about-section">
    <div id="title-section">
        <div id="title-image">
            <img src="https://res.cloudinary.com/di8utbjhc/image/upload/v1686303474/portfolio/swing_tumfwg.webp"
                alt="Me on a swing photo" class="center img-fluid">
        </div>
        <div id="title-block">
            <h1>About<br>
                <span class="title-handwritten">me</span>
            </h1>
        </div>
    </div>
</section>

<article>
    <div class="container-fluid">
        <div>
        <h2>About Me</h2>
        </div>
        <div class="row">
            <div class="col-sm col-lg-10">
                <p>I have been working on web projects for more than fifteen years now. First of all in a self-taught way with sites
                    a little shaky and not always successful. This time did not last, because I obtained a diploma of multimedia
                    infographist which allowed me to learn and understand the fundamentals. Some time later, the discovery of
                    Wordpress lost me to take a new flight and create more successful websites.
                    <br>
                    <br>
                    For almost ten years, I worked as a content manager. I writed and designed content to communicate and share.
                    <br>
                    <br>
                    Today, thanks to Code Institute's Full Stack Software Developer training, I can embrace a new aspect of the web
                    : the creation of a web project from A to Z !
                </p>
                <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i> Know more about me on LinkedIn</a>
            </div>
        </div>
    </div>
</article>

<!-- section skills -->
<section>
    <div class="container-fluid">
        <h2>My skills</h2>
        <div class="row">
            <div class="col-sm col-lg-6">
                <div>
                    <span><i class="fa-solid fa-square"></i> <i class="fa-solid fa-square"></i> <i
                            class="fa-solid fa-square"></i> <i class="fa-solid fa-square"></i> <i
                            class="fa-regular fa-square"></i></span>
                    <span>HTML5</span>
                </div>
                <div>
                    <span><i class="fa-solid fa-square"></i> <i class="fa-solid fa-square"></i> <i
                            class="fa-solid fa-square"></i> <i class="fa-regular fa-square"></i> <i
                            class="fa-regular fa-square"></i></span>
                    <span>CSS3</span>
                </div>
                <div>
                    <span><i class="fa-solid fa-square"></i> <i class="fa-solid fa-square"></i> <i
                            class="fa-regular fa-square"></i> <i class="fa-regular fa-square"></i> <i
                            class="fa-regular fa-square"></i></span>
                    <span>Bootstrap</span>
                </div>
                <div>
                    <span><i class="fa-solid fa-square"></i> <i class="fa-solid fa-square"></i> <i
                            class="fa-regular fa-square"></i> <i class="fa-regular fa-square"></i> <i
                            class="fa-regular fa-square"></i></span>
                    <span>Python</span>
                </div>
                <div>
                    <span><i class="fa-solid fa-square"></i> <i class="fa-solid fa-square"></i> <i
                            class="fa-regular fa-square"></i> <i class="fa-regular fa-square"></i> <i
                            class="fa-regular fa-square"></i></span>
                    <span>Django</span>
                </div>
            </div>
            <div class="col-sm col-lg-6">
                <div>
                    <span><i class="fa-solid fa-square"></i> <i class="fa-regular fa-square"></i> <i
                            class="fa-regular fa-square"></i> <i class="fa-regular fa-square"></i> <i
                            class="fa-regular fa-square"></i></span>
                    <span>JavaScript</span>
                </div>
                <div>
                    <span><i class="fa-solid fa-square"></i> <i class="fa-regular fa-square"></i> <i
                            class="fa-regular fa-square"></i> <i class="fa-regular fa-square"></i> <i
                            class="fa-regular fa-square"></i></span>
                    <span>React</span>
                </div>
                <div>
                    <span><i class="fa-solid fa-square"></i> <i class="fa-solid fa-square"></i> <i
                            class="fa-regular fa-square"></i> <i class="fa-regular fa-square"></i> <i
                            class="fa-regular fa-square"></i></span>
                    <span>SEO</span>
                </div>
                <div>
                    <span><i class="fa-solid fa-square"></i> <i class="fa-solid fa-square"></i> <i
                            class="fa-solid fa-square"></i> <i class="fa-solid fa-square"></i> <i
                            class="fa-regular fa-square"></i></span>
                    <span>Wordpress</span>
                </div>
                <div>
                    <span><i class="fa-solid fa-square"></i> <i class="fa-solid fa-square"></i> <i
                            class="fa-solid fa-square"></i> <i class="fa-regular fa-square"></i> <i
                            class="fa-regular fa-square"></i></span>
                    <span>Creative Suite</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section hobbies -->
<section>
    <h2>More about me</h2>
    <div>
        <div class="hobbies-list">
            <p> I like traveling by <i class="fa-solid fa-van-shuttle"></i> (Slovenia, Norway, Sweden, Denmark, Germany) and making 
                 Digital & Holga <i class="fa-solid fa-camera"></i>. At home, I like <i class="fa-solid fa-book-open"></i> with  
                my three <i class="fa-solid fa-cat"></i>, and also I love <i class="fa-solid fa-kitchen-set"></i>. All this while listening to different <i class="fa-solid fa-music"></i> !
            </p>
        </div>
    <div>
        <iframe src="https://open.spotify.com/embed/playlist/4lUb3dJmYTyiygRIbv6Epk?utm_source=generator&theme=0"
            allow="clipboard-write; encrypted-media; picture-in-picture" loading="lazy"></iframe>
    </div>
    <h3>My Work</h3>
                <a href="{% url 'services' %}#work"><i class="fa-solid fa-arrow-up-right-from-square"></i> Take a look at my work</a>
</section>

{% endblock %}