{% load static %}

{% block content %}

<!-- ABOUT section -->
<article id="about-section">
    <div id="title-section" class="container-fluid">
        <div id="title-image position-relative row">
            <img src="https://res.cloudinary.com/di8utbjhc/image/upload/v1686303474/portfolio/swing_tumfwg.webp"
                alt="Me on a swing photo" class="center img-fluid">
        </div>
        <div id="title-block texte-block bottom-0 end-0">
            <h2 class="text-dark">About
                <span class="title-handwritten">me</span>
            </h2>
        </div>
        <div class="col-sm col-lg-10">
            <p>I have been working on web projects for more than fifteen years now. First of all in a self-taught way with sites
                a little shaky and not always successful. This time did not last, because I obtained a diploma of multimedia
                infographist which allowed me to learn and understand the fundamentals. Some time later, the discovery of
                Wordpress lost me to take a new flight and create more successful websites.
                <br>
                <br>
                For almost ten years, I worked as a content manager. I writed and designed content to communicate and share.
                <br>
                <br>
                Today, thanks to Code Institute's Full Stack Software Developer training, I can embrace a new aspect of the web
                : the creation of a web project from A to Z !
            </p>
        </div>
    </div>
</article>

{% endblock %}