{% load static %}

{% block content %}

<!-- ABOUT section -->

<div class="mt-3">
  <div class="d-block d-md-none" id="title-image">
    <!-- Mobile Image -->
    <img src="https://res.cloudinary.com/di8utbjhc/image/upload/v1686303474/portfolio/swing_tumfwg.webp"
      alt="Me on a swing photo" class="img-fluid">
  </div>
  <div id="title-section" class="container">
    <div class="texte-block bottom-0 end-0 w-100">
      <!-- Widescreen Image Container -->
      <div class="col-12 d-none d-md-block image-container"></div>
      <h2 class="pt-2 pl-3">About
        <span class="title-handwritten">me</span>
      </h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-9 mx-auto pt-2 my-auto">
      <p>Me concernant
        à propos de moi
        I have been working on web projects for more than fifteen years now. First of all in a self-taught way with
        sites
        a little shaky and not always successful. This time did not last, because I obtained a diploma of multimedia
        infographist which allowed me to learn and understand the fundamentals. Some time later, the discovery of
        Wordpress lost me to take a new flight and create more successful websites.
        <br>
        For almost ten years, I worked as a content manager. I writed and designed content to communicate and share.
        <br>
        Today, thanks to Code Institute's Full Stack Software Developer training, I can embrace a new aspect of the web
        : the creation of a web project from A to Z !
      </p>
    </div>
  </div>
  <div class="col-12 mx-auto text-center">
    <h3 class="title-handwritten intertitle">Mes domaines de prédilection</h3>
  </div>
  <div class="row">
    <div class="col-12 col-md-5">
      <p>
        Il y a des domaines pour lesquels je suis particulièrement passionnée et que je souhaite privilégier dans mes
        projets. J'ai déjà une connaissance de ces domaines, je comprends donc rapidement et concrètement les besoins et
        les problématiques qui y sont reliés. Bien entendu, cette liste permet également de parler de mes passions et
        mes hobbies et n'est en a', rien n'est'
      </p>
      <p>
        Vous êtes intéressés par plusieurs prestations et vous désirez me parler de votre projet ? Contactez-moi afin
        que je puisse évaluer vos besoins et que je puisse réaliser un devis approprié et personnalisé.
      </p>
    </div>
    <div class="container m-3 col-12 col-md-6">
      <div class="timeline-container row">
        <div class="timeline-span z-n1">
          <ul class="timeline timeline-predilection">
            <li>
              <i class="fa-solid fa-circle timeline-circle ml-n2 mr-2"></i>
              <h4 class="title-handwritten predilection-title">Actions culturelles <i class="fa-solid fa-drum"></i></h4><br>
              <span class="predilection-text">
                <p>J'ai travaillé et fait partie d'associations culturelles. J'ai organisé des concerts et des expositions, pris part à la gestion d'une bibliothèque. je connais les contraintes liées aux actions culturelles, comme par exemple proposer un service de billetterie.</p>
              </span>
            </li>
            <li>
              <i class="fa-solid fa-circle timeline-circle ml-n2 mr-2"></i>
              <h4 class="title-handwritten predilection-title">Alimentation <i class="fa-solid fa-carrot"></i></h4><br>
              <span class="predilection-text">
                <p>Je suis passionnée d'alimentation, que ce soit les sites internet proposant des circuits courts ou bien les sites de restaurant.</p>
              </span>
            </li>
            <li>
              <i class="fa-solid fa-circle timeline-circle ml-n2 mr-2"></i>
              <h4 class="title-handwritten predilection-title">Naturopathie <i class="fa-solid fa-seedling"></i></h4><br>
              <span class="predilection-text">
                <p>Je suis passionnée de naturopathie et je suis d'ailleurs actuellement une formation de naturopathe. Je connais bien ce domaine, les attentes des professionnels et leurs souhaits quant au fait de proposer leurs services sur un site internet.</p>
              </span>
            </li>
            <li>
              <i class="fa-solid fa-circle timeline-circle ml-n2 mr-2"></i>
              <h4 class="title-handwritten predilection-title">Métiers du bien-être <i class="fa-solid fa-hand-holding-heart"></i></h4><br>
              <span class="predilection-text">
                <p>Dans mon entourage, je cotoie des personnes travaillant dans le bien-être. Thérapeutes, sophrologues, professeurs de yoga, j'ai conscience des contraintes liées à ces professionnels et je possède des solutions pour y répondre.</p>
              </span>
            </li>
            <li>
              <i class="fa-solid fa-circle timeline-circle ml-n2 mr-2"></i>
              <h4 class="title-handwritten predilection-title">Monde associatif <i class="fa-solid fa-bullhorn"></i></h4><br>
              <span class="predilection-text">
                <p>J'ai fait partie de plusieurs associations (culturelles, sportives, animales). Je connais les besoins et les contraintes liées au monde associatif.</p>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}