{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio of CÉcile Gaudron, Full Stack Software Developer in training">
    <meta name="keywords"
        content="full stack software developer, HTML, CSS, Gitpod, Github, Development, web languages, website creation">
    <meta name="author" content="CÉcile Gaudron">

    {% block corecss %}
    <!-- Bootstrap CSS + CSS style + Google font -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/di8utbjhc/image/upload/v1686318191/portfolio/favicon_g5z1oc.ico" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- font awesome script -->
    <script src="https://kit.fontawesome.com/3ee526735d.js" crossorigin="anonymous"></script>
    <!-- Load Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous">
        </script>
    {% endblock %}

    <title>CÉcile Gaudron Full Stack Developer {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <!-- File with header -->
  {% include 'includes/header.html' %}

  {% block content %}
  {% endblock %}

  <!-- File with footer -->
  {% include 'includes/footer.html' %}

  <!-- Font awesome script -->
  <script src="https://kit.fontawesome.com/3ee526735d.js" crossorigin="anonymous"></script>

</body>

</html>