{% block content %}
{% load crispy_forms_tags %}
<div class="mt-5">
  <div class="d-block d-md-none" id="title-image">
    <!-- Mobile Image -->
    <img
    src="https://res.cloudinary.com/di8utbjhc/image/upload/v1701627087/personal-website/beach_dao6gf.webp"
    alt="picture of a beach in Normandy with Holga"
  />
  </div>
  <div id="title-section" class="container">
    <div class="texte-block bottom-0 end-0">
        <!-- Widescreen Image Container -->
        <div class="col-12 d-none d-md-block image-container"></div>
            <h2>Contact
                <span class="title-handwritten">me</span>
            </h2>
        </div>
    </div>
  </div>
  <div id="contact-form" class="container">
    <div class="bottom-0 end-0 row">
      <div class="col-12 col-md-7 mx-auto pt-2 my-auto">
        <p>
          It's important to have <strong>confidence in the person</strong> to
          whom you entrust the creation of your website. To do this, feel free
          to contact me we can make an appointment, meet or set up a telephone
          or video interview to get to know each other. You can then tell me
          more about your project and I can see how I can help you make it a
          success. <br /><br/>
          I'd be delighted to
          <strong>discuss your project with you</strong>. I'll be happy to put
          forward my ideas, integrating your wishes and vision.
        </p>
      </div>
      <div class="contact-form-block col-11 col-md-5 mx-auto p-3 m-2">
        <p>Contact me via this form:</p>
        <form action="{% url 'contact' %}" method="POST" class="mt-3" id="contact-form">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="text-center">
              <button class="btn btn-green title">Send your message</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
