{% block content %}
<section id="contact-form">
    <div class="container">
        <h2>Contact me</h2>
        <p>Blabla text de contact</p>
        <p>Contact me via this form:</p>
        <div class="mb-3">
            <label for="input-name" class="form-label">Your name</label>
            <input type="name" class="form-control" id="input-name" placeholder="name@example.com" required>
        </div>
        <div class="mb-3">
            <label for="input-email" class="form-label">Your email address</label>
            <input type="email" class="form-control" id="input-email" placeholder="name@example.com" required>
        </div>
        <input id="website-creation" name="contact-type" value="website-creation" type="checkbox" required>
        <label for="website-creation">Website creation</label><br>
        <input id="website-redesign" name="contact-type" value="website-redesign" type="checkbox">
        <label for="website-redesign">Website redesign</label><br>
        <input id="website-device" name="contact-type" value="website-device" type="checkbox">
        <label for="website-device">Devices</label><br>
        <div class="mb-3">
            <label for="input-message" class="form-label" required>Your message</label>
            <textarea class="form-control" id="input-message" rows="3"></textarea>
        </div>
        <button>Send your message</button>
        <p>Faire une page de email successful sent</p>
    </div>
</section>

    {% endblock %}