{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- First section with picture and tagline -->
<section id="title-section">
    <div id="title-image">
        <img src="https://res.cloudinary.com/di8utbjhc/image/upload/v1686303474/portfolio/bunker-holga_grzjfh.webp"
            alt="Bunker photo" class="center img-fluid">
    </div>
    <div id="title-block">
        <h1>WEB<br>
            projects<br>
            <span class="title-handwritten">management</span>
        </h1>
    </div>
</section>
<!-- Section with txt experiences -->
<section>
    <div>
        <h2>My experiences</h2>
        <p>Thanks to my experiences, whether professional or associative, I am able to create your website, to advise
            you on your communication strategy and its realization.</p>
        <div>
            <div class="block-red p-3">
                <h3 class="title-handwritten">Website Conception</h3>
                <ul>
                    <li><strong>Full Stack Developer Graduate - E-commerce specialization</strong><br>
                        <em>(2023 - <a href="https://codeinstitute.net/de/" target="blank" aria-label="Visit the Code Institude website">Code Institute</a>)</em>
                    </li>
                    <li><i class="fa-solid fa-expand"></i> Frameworks <strong>Django</strong> -
                        <strong>Bootstrap</strong>
                    </li>
                    <li><i class="fa-solid fa-expand"></i> <strong>HTML5</strong> - <strong>CSS3</strong> -
                        <strong>Python</strong> - <strong>JavaScript</strong>
                    </li>
                    <li><i class="fa-solid fa-expand"></i> <strong>SEO</strong> optimization</li>
                </ul>
            </div>
            <br>
            <div class="block-red p-3">
                <h3 class="title-handwritten">Digital Strategy</h3>
                <ul>
                    <li><strong>Over 10 years of experience</strong></li>
                    <li><i class="fa-solid fa-expand"></i> Thinking </strong>how to communicate</strong></li>
                    <li><i class="fa-solid fa-expand"></i> <strong>Web Marketing</strong></li>
                    <li><i class="fa-solid fa-expand"></i> Visual identity</li>
                    <li><i class="fa-solid fa-expand"></i> Content writing</li>
                    <li><i class="fa-solid fa-expand"></i> Website creation & admin with CMS</li>
                    <li><i class="fa-solid fa-expand"></i> Social networks management</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<hr class="separator-red col-6 mx-auto">
<!-- Section with services text -->
<article>
    <div>
        <h2>My Services</h2>
        <p><strong>Defining a web strategy is essential to deploy a website</strong> in line with your needs. Creating a
            website is both
            a schematization of your desires and your needs, and a translation to the technical tools necessary for its
            proper implementation.<br><br>
            For that, it is necessary to realize a <strong>practical interface</strong> and <strong>faithful to your
                visual identity</strong>. This last
            one must be displayed perfectly on the various screens with the <strong>responsive design</strong>, and in
            particular on the mobiles which represent
            more than half of the world connections. In order to give visibility to all this work, the mastery of
            <strong>SEO
                tools and practices</strong> is an absolute necessity. <br>
        </p>
        <div>
            <a href="{% url 'services' %}"><i class="fa-solid fa-arrow-up-right-from-square"></i> Know more about my
                services
                and my work</a>
        </div>
    </div>
</article>

<!-- About page content -->
{% include 'about.html' %}

<hr class="separator-red col-6 mx-auto">
<img src="https://res.cloudinary.com/di8utbjhc/image/upload/v1701627087/personal-website/beach_dao6gf.webp" alt="picture of a beach in Normandy with Holga">
<!-- Contact page content -->
{% include 'contact.html' %}

{% endblock %}