{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- First section with picture and tagline -->
<section id="title-section">
    <div id="title-image">
        <img src="https://res.cloudinary.com/di8utbjhc/image/upload/v1686303474/portfolio/bunker-holga_grzjfh.webp"
            alt="Bunker photo" class="center img-fluid">
    </div>
    <div id="title-block">
        <h1>WEB<br>
            projects<br>
            <span class="title-handwritten">management</span>
        </h1>
    </div>
</section>
<!-- Section with txt experiences -->
<section>
    <div>
        <h2>My experiences</h2>
        <p>Thanks to my experiences, whether professional or associative, I am able to create your website, to advise
            you on your communication strategy and its realization.</p>
        <div>
            <div class="block-red p-3">
                <h3 class="title-handwritten">Website Conception</h3>
                <ul>
                    <li><strong>Full Stack Developer Graduate</strong><br>
                        <em>(2023 - Code Institute)</em>
                    </li>
                    <li><i class="fa-solid fa-expand"></i> Frameworks <strong>Django</strong> -
                        <strong>Bootstrap</strong>
                    </li>
                    <li><i class="fa-solid fa-expand"></i> <strong>HTML5</strong> - <strong>CSS3</strong> -
                        <strong>Python</strong> - <strong>JavaScript</strong>
                    </li>
                    <li><i class="fa-solid fa-expand"></i> <strong>SEO</strong> optimization</li>
                </ul>
            </div>
            <br>
            <div class="block-red p-3">
                <h3 class="title-handwritten">Digital Strategy</h3>
                <ul>
                    <li><strong>Over 10 years of experience</strong></li>
                    <li><i class="fa-solid fa-expand"></i> Thinking </strong>how to communicate</strong></li>
                    <li><i class="fa-solid fa-expand"></i> <strong>Visual identity</strong></li>
                    <li><i class="fa-solid fa-expand"></i> <strong>Content writing</strong></li>
                    <li><i class="fa-solid fa-expand"></i> Website creation & admin with CMS</li>
                    <li><i class="fa-solid fa-expand"></i> Social networks management</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<hr class="separator-red col-6 mx-auto">
<!-- Section with services text -->
<article>
    <div>
        <h2>My Services</h2>
        <p><strong>Defining a web strategy is essential to deploy a website</strong> in line with your needs. Creating a
            website is both
            a schematization of your desires and your needs, and a translation to the technical tools necessary for its
            proper implementation.<br><br>
            For that, it is necessary to realize a <strong>practical interface</strong> and <strong>faithful to your
                visual identity</strong>. This last
            one must be displayed perfectly on the various screens> with the <strong>responsive design</strong>, and in
            particular on the mobiles which represent
            more than half of the world connections. In order to give visibility to all this work, the mastery of
            <strong>SEO
                tools and practices</strong> is an absolute necessity. <br>
        </p>
        <div>
            <a href="{% url 'services' %}"><i class="fa-solid fa-arrow-up-right-from-square"></i> Know more about my
                services
                and my work</a>
        </div>
    </div>
</article>
<hr class="separator-red col-6 mx-auto">
<article>
    <div>
        <h2>About Me</h2>
        <p>It's important to have <strong>confidence in the person</strong> to whom you entrust the creation of your
            website. To do this, I need to introduce myself to you and explain my background.
            Without going into too much detail right away, I've been working in communication <strong>for over 10
                years</strong>. <br>
            I love this field, I love <strong>helping people to communicate</strong> their business and pass on their
            passion through their website.
        </p>
        <div>
            <a href="{% url 'about' %}"><i class="fa-solid fa-arrow-up-right-from-square"></i> Know more about me and my
                background</a>
        </div>
    </div>
</article>
<hr class="separator-red col-6 mx-auto">
<article>
    <div>
        <h2>My Work</h2>
        <p>For more than 10 years, I've been creating self-taught websites with the help of Wordpress. For several
            months now, I've been able to build a site from A to Z <strong>using high-performance, secure and optimized
                tools</strong><br>
            I'd be delighted to <strong>discuss your project with you</strong>. I'll be happy to put forward my ideas,
            integrating your
            wishes and vision.
        </p>
        <div>
            <a href="{% url 'services' %}#work"><i class="fa-solid fa-arrow-up-right-from-square"></i> Take a look at my
                work</a>
        </div>
    </div>
</article>
<hr class="separator-red col-6 mx-auto">

{% include 'contact.html' %}

{% endblock %}