{% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/services-projects.css' %}" />
{% endblock %}

<section id="projects-section mt-2">
  <div class="container">
    <div id="title-block texte-block bottom-0 end-0">
      <h2 class="text-dark pt-2">
        <span class="title-handwritten">my</span>
        Projects
      </h2>
    </div>
    <div class="mx-center block-red col-12 p-2 one-project">
      <h3>StarQuiz</h3>
      <div>
        <p>
          <a
            href="https://github.com/ShaAnder/StarQuiz"
            target="_blank"
            rel="noopener"
            aria-label="See the code for this website StarQuiz on GitHub"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a
            href="https://jedi-path-quizventure.onrender.com/"
            target="_blank"
            rel="noopener"
            aria-label="See this website StarQuiz online"
          >
            <i class="fa-solid fa-globe"></i>
          </a>
        </p>
      </div>
      <div>
        <p>
          Projet réalisé en équipe lors du Hackathon organisé par Code Institue en mai 2024, sur le thème de Star Wars. Le site propose à l'internaute de tester ses connaissances des films en répondant à des questions. Le site est responsive et une animation inspirée du générique est proposée en introduction. <br />
        </p>
      </div>
      <div class="mx-auto">
        <span class="projects-block">DJANGO</span>
        <span class="projects-block">PYTHON</span>
        <span class="projects-block">TAILWIND CSS</span>
        <span class="projects-block">CSS</span>
        <span class="projects-block">HTML</span>
      </div>
      <div class="mx-auto">
        <span class="projects-block">JAVASCRIPT</span>
        <span class="projects-block">AGILE</span>
      </div>
    </div>
    <div class="mx-center block-red col-12 p-2 one-project">
      <h3>Les Jardins</h3>
      <div>
        <p>
          <a
            href="https://github.com/cecilegaudron/lesjardins"
            target="_blank"
            rel="noopener"
            aria-label="See the code for this website Les Jardins on GitHub"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a
            href="https://les-jardins.herokuapp.com/"
            target="_blank"
            rel="noopener"
            aria-label="See this website Les Jardins online"
          >
            <i class="fa-solid fa-globe"></i>
          </a>
        </p>
      </div>
      <div>
        <p>
          Projet final pour la formation de Full Stack Developer (E-commerce
          specialization) de Code Institute. Site de e-commerce à destination
          d'un maraîcher qui souhaite vendre ses produits en ligne. Le site
          propose une interface administrateur, un espace client avec la
          sauvegade des articles dans le panier et dans la liste de favoris. Les
          clients peuvent ensuite régler leur commande par carte bancaire via le
          service Stripe.<br />
        </p>
      </div>
      <div class="mx-auto">
        <span class="projects-block">DJANGO</span>
        <span class="projects-block">PYTHON</span>
        <span class="projects-block">BOOTSTRAP</span>
        <span class="projects-block">CSS</span>
        <span class="projects-block">HTML</span>
      </div>
      <div class="mx-auto">
        <span class="projects-block">POSTGRESQL</span>
        <span class="projects-block">SEO</span>
        <span class="projects-block">STRIPE</span>
        <span class="projects-block">AGILE</span>
        <span class="projects-block">WEB MARKETING</span>
      </div>
    </div>
    <div class="mx-center block-red col-12 p-2 one-project">
      <h3>Jeu du pendu BVG</h3>
      <div>
        <p>
          <a
            href="https://github.com/cecilegaudron/hangman-bvg"
            target="_blank"
            rel="noopener"
            aria-label="See the code for this website Hangman BVG on GitHub"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a
            href="https://hangman-bvg-701f79a0e67f.herokuapp.com/"
            target="_blank"
            rel="noopener"
            aria-label="See this website Hangman BVG online"
          >
            <i class="fa-solid fa-globe"></i>
          </a>
        </p>
      </div>
      <div>
        <p>
          Projet réalisé en cadeau d'anniversaire du fils d'amis qui est fan des
          stations de métro berlinoises. Il les connait par coeur et est
          actuellement en train d'apprendre à lire et à écrire. Ce jeu de pendu
          est en allemand et il faut trouver les noms des stations en fonction
          de la ligne choisie. <br />
        </p>
      </div>
      <div class="mx-auto">
        <span class="projects-block">DJANGO</span>
        <span class="projects-block">PYTHON</span>
        <span class="projects-block">BOOTSTRAP</span>
        <span class="projects-block">CSS</span>
        <span class="projects-block">HTML</span>
      </div>
    </div>
    <div class="mx-center block-red col-12 p-2 one-project">
      <h3>Atelier du Barrou</h3>
      <div>
        <p>
          <a
            href="https://atelierdubarrou.com/"
            target="_blank"
            rel="noopener"
            aria-label="See this website Atelier du Barrou online"
          >
            <i class="fa-solid fa-globe"></i>
          </a>
        </p>
      </div>
      <div>
        <p>
          Site réalisé via Wordpress pour une artisante tapissière-décoratrice
          installée en Dordogne. Ce site a déjà été refonté suite à un surplus
          d'activité.
        </p>
      </div>
      <div class="mx-auto">
        <span class="projects-block">WORDPRESS</span>
        <span class="projects-block">PHP</span>
        <span class="projects-block">CSS</span>
        <span class="projects-block">HTML</span>
      </div>
    </div>
    <div class="mx-center block-red col-12 p-2 one-project">
      <h3>Outscape Game</h3>
      <div>
        <p>
          <a
            href="https://github.com/cecilegaudron/outscape-game"
            target="_blank"
            rel="noopener"
            aria-label="See the code for this website OUTscape Game on GitHub"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a
            href="https://outscapebooking.herokuapp.com/"
            target="_blank"
            rel="noopener"
            aria-label="See this website OUTscape Game online"
          >
            <i class="fa-solid fa-globe"></i>
          </a>
        </p>
      </div>
      <div>
        <p>
          Projet intermédiaire pour la formation de Full Stack Developer de Code
          Institute. Site de réservation à destination d'une entreprise
          proposant un jeu d'Escape Game en extérieur dans les rues de Berlin.
          Cette entreprise existe réellement et ce site a été adapté en fonction
          des besoins du projet à soumettre.
        </p>
      </div>
      <div class="mx-auto">
        <span class="projects-block">DJANGO</span>
        <span class="projects-block">PYTHON</span>
        <span class="projects-block">BOOTSTRAP</span>
        <span class="projects-block">CSS</span>
        <span class="projects-block">HTML</span>
      </div>
    </div>
    <div class="mx-center block-red col-12 p-2 one-project">
      <h3>Cardiac Coherence</h3>
      <div>
        <p>
          <a
            href="https://github.com/cecilegaudron/cardiac-coherence"
            target="_blank"
            rel="noopener"
            aria-label="See the code for this website Cardiac Coherence on GitHub"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a
            href="https://cecilegaudron.github.io/cardiac-coherence/"
            target="_blank"
            rel="noopener"
            aria-label="See this website Cardiac Coherence online"
          >
            <i class="fa-solid fa-globe"></i>
          </a>
        </p>
      </div>
      <div>
        <p>Second projet dans le cadre de la formation de Full Stack Developer de Code
          Institute. Site vitrine explicatif de la cohérence cardiaque. Animation en CSS afin d'accompagner les personnes souhaitant réaliser cet excercice de respiration.</p>
      </div>
      <div class="mx-auto">
        <span class="projects-block">JAVASCRIPT</span>
        <span class="projects-block">HTML</span>
        <span class="projects-block">CSS</span>
      </div>
    </div>
    <div class="mx-center block-red col-12 p-2 one-project">
      <h3>My Portfolio</h3>
      <div>
        <p>
          <a
            href="https://github.com/cecilegaudron/my-portfolio"
            target="_blank"
            rel="noopener"
            aria-label="See the code for my Portfolio on GitHub"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a
            href="https://cecilegaudron.github.io/my-portfolio/"
            target="_blank"
            rel="noopener"
            aria-label="See my Portfolio online"
          >
            <i class="fa-solid fa-globe"></i>
          </a>
        </p>
      </div>
      <div>
        <p>Premier projet dans le cadre de la formation de Full Stack Developer de Code
          Institute. Site portfolio présenant mes compétences et mes services.</p>
      </div>
      <div class="mx-auto">
        <span class="projects-block">HTML</span>
        <span class="projects-block">CSS</span>
        <span class="projects-block">GIT</span>
      </div>
    </div>
  </div>
</section>

