{% load static %}

{% block content %}

<section id="projects-section">
    <div class="container">
        <div id="title-block texte-block bottom-0 end-0">
          <h2 class="text-dark">
            <span class="title-handwritten">my</span>
            Projects
          </h2>
        </div>
        <div class="mx-center block-red col-12 p-2">
            <h3>Les Jardins</h3>
            <p>Website for a gardening company</p>
            <div>
                <span class="projects-block">DJANGO</span>
                <span class="projects-block">CSS</span>
                <span class="projects-block">STRIPE</span>
                <span class="projects-block">SEO</span>
            </div>
            <p>Lien github</p>
            <p>Lien live</p>
        </div>
    </div>
</section>

{% endblock %}