{% extends "base.html" %}
{% load static %}

{% block extra_title %}My Services{% endblock %}

{% block content %}

<section>
    <div>
        <h1 class="title-handwritten">my
            SERVICES</h1>
    </div>
</section>
<article>
    <h2>Take up the challenge</h2>
    <br>
    <p>It has become essential to have a website as part of its professional or associative activity. To be present on
        the net allows to inform these potential customers of these services, of these coordinates as well as of these
        prices.
        <br>
        <br>
        A website allows to be contacted but also to give the possibility of making a reservation on line or to sell
        these products.
        <br>
        <br>
        A website does not go without a logo, a graphic charter, possibly social networks. It is necessary to establish
        a communication strategy designed to reach the target audience.
        <br>
        <br>
        Don't worry, it's not that complicated! It is necessary <a href="{% url 'contact' %}" class="internal-link">to
            turn to a professional</a> who will be able to accompany you and help you in this work. I could be that
        person, <a href="{% url 'about' %}" class="internal-link">learn more about me.</a>
    </p>
</article>
<!-- different services section -->
<section>
    <h2>What I can do </h2><br>
    <h2 class="title-handwritten">for you</h2>
    <!-- Web Development services -->
    <div>
        <h3>Web Development</h3>
        <ul>
            <li><i class="fa-solid fa-expand"></i> Creating a website from A to Z</li>
            <li><i class="fa-solid fa-expand"></i> Frameworks : Django & Bootstrap</li>
            <li><i class="fa-solid fa-expand"></i> Languages : HTML5, CSS3, Python, Javascript</li>
            <li><i class="fa-solid fa-expand"></i> Using the Agile environment</li>
        </ul>
    </div>
    <!-- Website Creation services -->
    <div>
        <h3>Website creation & Redesign</h3>
        <ul>
            <li>Webdesign</li>
            <li>Responsive design</li>
            <li>Creation with Wordpress</li>
            <li>Website redesign</li>
        </ul>
    </div>
    <!-- Tab with services -->
    <!-- https://getbootstrap.com/docs/4.0/components/navs/#javascript-behavior -->
    <div>
        <h2>And also...</h2>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="digital-tab" data-toggle="tab" href="#digital" role="tab"
                    aria-controls="digital" aria-selected="false">Digital Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="identity-tab" data-toggle="tab" href="#identity" role="tab"
                    aria-controls="identity" aria-selected="false">Visual Identity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="other"
                    aria-selected="false">Other devices</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!-- Digital Devices tab -->
            <div class="tab-pane fade" id="digital" role="tabpanel" aria-labelledby="digital-tab">
                <p class="services-tab-text">
                    Un peu de text pour expliquer en gros en quoi c'est important
                </p>
                <ul>
                    <li>Social networks management</li>
                    <li>SEO referencing</li>
                    <li>Gips maps realization</li>
                    <li>Image optimization</li>
                    <li>Digital watch</li>
                </ul>
            </div>
            <!-- Visual Identity tab -->
            <div class="tab-pane fade show active" id="identity" role="tabpanel" aria-labelledby="identity-tab">
                <p class="services-tab-text">
                    Un peu de text pour expliquer en gros en quoi c'est important
                </p>
                <ul>
                    <li">Graphic charter creation</li>
                    <li>Realization of visuals</li>
                    <li>Documents layout</li>
                    <li>Printing follow-up</li>
                    <li>Graphic chain knowledge</li>
                </ul>
            </div>
            <!-- Other Devices tab -->
            <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
                <p class="services-tab-text">
                    Un peu de text pour expliquer en gros en quoi c'est important
                </p>
                <ul>
                    <li>Communication strategy</li>
                    <li>Content writing</li>
                    <li>SEO referencing</li>
                    <li>Shooting</li>
                    <li>Content correction</li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}